BOT_ADMIN={"qq":["***"]}
BOT_CMD_PREFIXES=["/"]
BOT_TIMEOUT=PT15M
BOT_TIMEZONE=UTC
HTTP_PROXY=http://127.0.0.1:1080
ONEBOT_WS_URL=
ONEBOT_ACCESS_TOKEN=
ONEBOT_SELF_ID=
TELEGRAM_BOT_TOKEN=
DISCORD_BOT_TOKEN=
DISCORD_INTENTS=4609
KLEI_ACCESS_TOKEN=***
KLEI_HOST_ID=***
REPORT_GROUP_ID=***
OPENROUTER_API_KEY=***
DOSU_MCP_ENDPOINT=***
DOSU_API_KEY=***
