[Unit]
Description=Podman container for napcat

[Container]
ContainerName=napcat
Image=docker.io/mlikiowa/napcat-docker
PublishPort=127.0.0.1:6099:6099
PublishPort=127.0.0.1:3001:3001
Volume=/srv/napcat/config:/app/napcat/config:Z
Volume=/srv/napcat/ntqq:/app/.config/QQ:Z

[Service]
Restart=always
UMask=0077
ExecStartPre=install -d -m 0700 /srv/napcat /srv/napcat/config /srv/napcat/ntqq

[Install]
WantedBy=default.target
